---
layout: handbook_page
title: Team 5064 Handbook
description: Team 5064 Handbook
tags: FRC
permalink: /handbook-draft/index.html
image:
  feature: 
---
{% include handbook-welcome.html %}
{% include handbook-mission.html %}
{% include handbook-goals.html %}
{% include handbook-opcom.html %}
{% include handbook-teamname.html %}
{% include handbook-seasons.html %}
{% include handbook-teamroles.html %}

{% include h1.html txt="Joining the team" id="joining" %}
{% include handbook-joining.html %}

{% include h1.html txt="Expectations" id="expectations" %}
{% include handbook-behaviour.html %}
{% include handbook-meetings.html %}
{% include handbook-cooperation.html %}
{% include handbook-uniforms.html %}
{% include handbook-onlinecommunications.html %}
{% include handbook-participation.html %}
{% include handbook-parentinvolvement.html %}
{% include handbook-mentorexpectations.html %}

<!-- B O O K M A R K -->
<div class="alert alert-danger">
<p>I have revised the handbook down to here! Content below is not ready for feedback yet. Check back often and you might see this bookmark slowly progressing as I overhaul the handbook.</p>
<p>Thank you for your feedback, Mario</p>
</div>
<!-- B O O K M A R K -->

{% include h4.html txt="Community outreach" id="communityoutreach" %}
<p>Organizing and participating in community outreach activities is an important aspect of our work that all students and parents are required to actively participate in. Mentors are encouraged (but not required) to be involved in the community outreach activities.</p>

<p>All students on the team are required to participate in at least two required community outreach activities and two outreach activities of their own choice each year. The two required outreach activities are: 
<ul>
<li> ... </li>
<li> ... </li>
</ul>
</p>
<p>Examples of outreach activities students can choose to participate in are:</p>

<ul>
<li>Jr.FLL/FLL Tournament at NAIT (mid-January)</li>
<li>Regional Cardboard Boat Race (November)</li>
<li>Volunteer at the Edmonton Regional Science Fair (April)</li>
<li>Volunteer at the Edmonton Science Olympics (March)</li>
<li>Showing Opcom robot at TWoS</li>
<li>Family Science Nights at Edmonton schools (typically in February-April)</li>
</ul>
<p>Outreach activities selected by students have to be approved ahead of the activity.</p>

<p>All students are required to volunteer as an Assistant Coach on an Edmonton-based Jr.FLL or FLL team.</p>

{% include h4.html txt="Disciplinary Action" id="disciplinaryaction" %}
<p>Disciplinary action may need to be taken when team members (i.e. students and mentors) do not exhibit proper behaviour or display inadequate citizenship that infringes on the teams good image. Disciplinary actions are determined on an individual basis by the Management Team and the Team Director. If appropriate a team member may first be given a verbal warning. Based on the level of the offence, the team member may be removed from team participation for one week, or removed from the team entirely.</p>

<p>Any team member (i.e. student or mentor) that has required disciplinary action to be taken agains hime or her will be given a demerit. Three (3) demerits constitute immediate removal from the team for the rest of the season for students and permanently for mentors. The number of demerits given for an infraction is at the discretion of the lead mentors (more than once demerit can be given for more serious infractions). Note that the program fee will not be reimbursed in the event of a student becoming removed from the team due to accumulating three demerits.</p>

<p>Except under extenuating circumstances the demerits are reset at the end of the season. All team members, both students and mentors, must undergo evaluation and review at the end of the season every year. Placement on the team is not automatic because of experience. </p>

{% include h4.html txt="Fundraising" id="fundraising" %}
<p>Fundraising is an integral part of being part of the team. The hardware for the robot alone costs more than $10000, which does not include tools, software, registration for competition and travel to and from events. In other words all students on the team are required to raise funds. Part of that will require team members to each raise $300 over the Pre-season and during Build Season. Over this 22 week period this breaks down to about $14/week.</p>

<p>How to raise money: 
<ul>
<li>FIRST Light bulbs (sell 30 light bulbs) (http://www.usfirst.org/roboticsprograms/first-green-e-watt-saver)</li>
<li>Getting Private or Corporate Donations (many give 250.00 or more)
More fundraising ideas: http://www.usfirst.org/roboticsprograms/team-fundraising</li>
</ul>
</p>

{% include h1.html txt="Program fee" id="programfee" %}
<p>The yearly cost for the program is $600/student. The fee is due at the time of registration. Financial assistance is available; please talk to the Lead team for more details.
While there is no program fee for mentors, student team members of mentors pay the regular program fee. </p>

{% include h1.html txt="Time commitment" id="timecommitment" %}
<p>To be a member of the Team 5064 will require many after school hours. All student team members are required to participate meetings after school and during weekends, events, and other team activities. During the fall, meetings are usually once a week on Wed from 6:00pm-8:00pm. The meetings are important to plan and execute Chairman’s Award activities, build skills, build team relationships, organize fundraisers, and keep aware of <em>FIRST</em> announcements. As Kick Off nears, meetings will become longer and more frequent. These meetings will be listed on the team calendar, available through our team website. (need to set up the online team calendar) </p>

<p>Attendance is taken at all meetings during build season and mandatory meetings during the off season along with community activities. It is the student’s responsibility to sign in on the attendance sheet or check in when they arrive at community events. All students are expected to be on time and stay the required amount of time including clean up. Students participating in school-sponsored activities or having a job may be excused from attendance on a limited per case basis as reviewed by the coaches. Students must provide work schedules or school-sponsored activity event calendars to the coaches to be excused. In all cases, students who do not have the required hours for competition, will be required to spend an equal amount of time completing odd jobs around the shop. These jobs may include but are not limited to button making, organizing screws and bolts, or cleaning the workshop. These are designed to balance out the participation.</p>

{% include h1.html txt="High School Credits" id="highschoolcredits" %}
<p>All high school students (Grades 10-12) are eligible to receive high school ICT credits for participating in the team over a whole season. The credits will be awarded by the Opcom hosting organization, Progressive Academy. The student will be evaluated on the proceeding logs of their build season, competition experience and their attendance and participation in meetings, outreach and competition events.</p>

{% include h1.html txt="Safety" id="safety" %}
Remember that safety comes FIRST, LAST, and ALWAYS. Always wear safety glasses, tie 
back loose hair and clothing, and wear closed-toed shoes when working on the robot or going 
into the pit area. FIRST requires teams to bring safety glasses to competitions – they don’t 
require a robot, but they do require safety glasses! 
 
You can help keep everyone be safe by making fliers, pamphlets, and DVD’s about proper safety 
procedures. Safety and Shop training is offered at the beginning of the season. Every student 
should attend this training. A student safety captain will be designated at the start of the build 
season. This safety captain will be responsible for making sure that EVERYONE follows proper 
safety procedures. However, everyone should be aware of the safety rules and make sure 
everyone is acting safely.
<ol>
<li>Team members will act in a safe manner AT ALL TIMES. This includes during any team-related activity, while travelling to team events and during competitions.</li>
<li>Team members will be respectful of the Safety Captain(s) and adhere to any reasonable requests made by the Safety Captain(s).</li>
<li>Team members will be required to attend a safety seminar and pass a Safety Quiz. Power tools or equipment may only be used under the supervision of an adult mentor.</li>
<li>Team members are required to wear safety glasses at the work site and in the pit area at all competitions. In addition, team members may be asked to wear gloves, face masks, and ear protection during certain task.</li>
<li>Horseplay will not be tolerated at any time.</li>
<li>All work areas will be cleaned up at the end of the day including sweeping the floors and work surfaces, putting away tools and materials, and throwing away trash.</li>
<li>Team members will not directly or indirectly give out personal information about themselves or other team members while using any form of online/Internet communication or media. This includes all social media (Twitter, Facebook, et al.), Team 5064, other FIRST teams or other <em>FIRST</em>-sponsored forums, wikis or any Internet/Web/mobile device. As Team 5064 members, students’ communications through any media are representative of the team and should not negatively reflect on the team and should at all times reflect the tenets of FIRST and “Gracious Professionalism”.</li>
</ol>

{% include h1.html txt="Travelling" id="travelling" %}
<p>Travelling, as a team, is very exciting and rewarding and often the highlight of a student’s memories. A great deal of planning and organization is required to coordinate all the associated activities. A strong effort is made to make the travel be an educational/cultural experience as well as the basic competition. Safety is always the major concern.</p>

<p>Students are required to attend the Kick-off event and the Canada Western Regional FRC. They are given the opportunity to travel to other competitions, including the Championship Event. Personal scheduling conflicts with the travelling itinerary of the team (e.g. vacation, travelling with other extra-curricular organizations such as sport teams, religious groups) to the Kick-off and competition will not be considered valid excuses for not attending. </p>

<p>While we encourage parents and family to join us when travelling (assuming we have space in the bus), when the team travels, students are to remain with the team for the duration of the event. Should a student leave the main body of the team at any time, they must clear this with a supervising adult first and travel in a group.</p> 

{% include h1.html txt="How parents can help" id="howparentscanhelp" %}
<p>Parents are encouraged to be part of our team and are very important to our continued success. Parents are also a key factor in the motivation and dedication of their student. Supporting their son/daughter in all aspects of their team involvement is vital to them getting the most out of the program.</p>

<p>Parents have several responsibilities: 
<ul>
<li>Every parent is encouraged to volunteer to assist with at least one event such as fund-raising, annual awards banquet, monitoring students during the build season or assist in community service projects. </li>
<li>To provide timely transportation for the student. Making sure that they are at the required events on time and ready to participate. Often we will leave for a competition very early in the morning to facilitate transportation. </li>
<li>Parents are expected to have the student at the designated location at the prescribed time. We will not delay transportation. </li>
<li>Upon return from an event parents are encouraged to provide transportation at the designated time. Late transportation causes an inconvenience to all involved. </li>
<li>Parents are encouraged to assist their student in all fundraising activities. </li>
<li>Parents are required to provide accurate medical information and to keep mentors informed of all changes. </li>
<li>Parents are also encouraged to provide spending money as is appropriate when we are at events or competition. </li>
<li>A parent or representative of each student member is required to help with the food during build seasons. Lunch is served to the team each Saturday during the build season by a designated group of parents and a food pantry is created.</li>
<li>Parents will please refrain from foul language, engaging students in disputes, or spreading gossip.</li> 
<li>Parents are expected to bring issues and concerns to the Lead mentors in a timely manner. </li>
</ul>

{% include h1.html txt="Student Contract" id="studnetcontract" %}
<p>Opcom requires rigorous participation and a serious commitment. This is not a team for casual participants. A student wishing to travel/participate in any competition must meet ALL expectation. Not meeting any one single expectation will result in the student’s inability to travel.</p>
 
<p>Parents and students please read this handbook and sign below together to ensure that both parties are aware of the requirements. This sheet must be returned with all blanks filled correctly a student can be considered for joining the team.</p>

<h2>Student</h2> 
<p>I agree that I understand the information presented in the Team Handbook, and that I understand what I need to achieve in order to have full payment of my trips.  I know that I will have to place a reserving deposit, but if I fulfill all of the team achievements, the team funding will cover the rest of my travel costs. I understand that I must act responsibly and respectfully at all times, and that schoolwork comes before team work. I must maintain my grades as required by the school in order to participate in team activities. </p>



Student signature	



Parent signature	



Date	

<h2>Parents/Guardians</h2>
<p>I understand that my student has chosen to be an active part of this team, and that while any level of participation is encouraged, that my student must meet the team achievements in order to have team funding for his/her travel. I also understand that I am part of those achievements. I agree to attend an information session, pre-travel meetings, one team event during the year, and one local competition event. I also agree to provide a meal during build season. I understand that parents can be a vital part of the team, and are a big help in getting many of the team activities accomplished. I will do my best to support my student and the team in this endeavour. </p>



Student name



Parent name

{% include h1.html txt="Mentor Contract" id="mentorcontract" %}

{% include h1.html txt="Student check list" id="studentchecklist" %}
<p>Each student on the team is required to keep this check list in the team binder. This check list has to be keep current. </p>

Current and active group member of Team 5064 facebook group page

Bring dinner #1

Participated actively in a minimum of 60% of meeting hours during pre-season


Payed program fee

{% include h1.html txt="Mentor check list" id="mentorchecklist" %}
