{% include h1.html txt="Opcom" id="opcom" %}
<p>Opcom is a community based organization based out of <a href="http://progressiveacademy.ca/">Progressive Academy</a>, a private school located in Edmonton that runs various <em>FIRST</em> programs. Currently Opcom has JrFLL (aged 6-9), FLL (aged 10-14) and FRC (aged 14-18) teams.</p>

<a href="{{ site.url }}/img/opcom_organization.png" class="thumbnail">
  <img src="{{ site.url }}/img/opcom_organization.png" alt="125x125">
  <figcaption>The structure of the Opcom organization during the 2013 JrFLL and 2014 FLL and FRC seasons.</figcaption>
</a>

