{% include h1.html txt="Goals" id="goals" %}
<p>The goals of Team 5064 is...
<ul>
<li>to develop leadership in all of our students.</li> 
<li>to focus on promoting the <em>FIRST</em> Robotics Competition (FRC) program to high school aged students in Edmonton. </li>
<li>to involve our team in the community and promote a sense of social responsibility in our team members.</li> 
<li>to focus on developing 21st century skills in our students ultimately making our team more efficient, effective and successful.</li>
<li>to prioritize school work. </li>
<li>to base our technical work on a sound and logical <a href="http://en.wikipedia.org/wiki/Engineering_design_process">Engineering Design Process</a>.</li> 
<li>to promote student growth, the growth of the team, and to build the sense of family and morale within our team.</li> 
<li>to raise funds to support our team and keep it self-sustained for many years to come. </li>
<li>to support our <em>FIRST LEGO</em> League (FLL) and Junior <em>FIRST LEGO</em> League) JrFLL initiatives by having older students mentoring younger students.</li> 
<li>to have lots of fun!</li>
</ul>
</p>