{% include h4.html txt="Parent Involvement" id="parentinvolvement" %}
<p>Parents are required to provide additional support of the team, including chaperoning, making travel arrangements, providing meals, transportation for team members people, for robots and other hardware, general supervision (non-mentorship), donation of general supplies/snacks/water, craft-type expertise (e.g. sewing) and assisting team mentors whe n needed.</p>

<p>Parents must drop of and pick up students in a timely manner. There are a few reasons for this. 
<ul>
<li>We would like to get to know the parents.</li>
<li>We want you to see what is going on during the season</li>
<li>We want to make sure students are getting a safe ride home and not standing out in the cold waiting for a ride. </li>
</ul>
</p>