{% include h1.html txt="Mission" tag="mission" %}
<p>We Go <em>FAST</em> to improve ourselves and to build tomorrows robots today where <em>FAST</em> stands for</p> 
<dl>
<dt>Fast:</dt> <dd>as in the physical quantity velocity having both a speed and direction</dd> 
<dt>Agile:</dt> <dd>as in quickly, smartly and resourcefully responding to change</dd>
<dt>Strong:</dt> <dd>as in having great physical strength and resilience</dd>
<dt>Trained:</dt> <dd>as in mastering the necessary skills to excel</dd>
</dl>