{% include h4.html txt="Mentor expectations" id="mentorexpectations" %}
<p>As a mentor your contribution of your skills and expertise are key to the success of our team by helping students to reach their full potential. In order for mentors to be successful it is important to know what your roles and responsibilities are. Keep in mind that as a mentor, you are expected to be a role model to students and hence will be held to exceptionally high standards. While it is desirable for mentors to have expertise in a particular field the most important criteria for being a successful mentor is being able to connect with the children and be a role model. If you have expertise that would be useful for the team but lack the following characteristics then will not be a suitable mentor for our team. As you consider becoming a mentor on our team ask yourself if you posses the following qualities:</p>

<ul>
<li>I provide encouragement.</li>
<li>I am able to assist students.</li>
<li>I am able to share what I know in a way that children can understand it.</li>
<li>I can resolve conflicts in a professional and non-confrontational way, particularly under stress.</li>
<li>I have great people skills and are able to connect with children and youth.</li>
<li>I always lend a helping hand to students and other mentors.</li>
<li>I set an example as a role model.</li>
<li>I use appropriate language.</li>
<li>I interact with children and youth in a genuine and authentic way.</li>
<li>I am patient.</li>
<li>I treat everyone fairly but not necessarily equally.</li>
<li>I have read and understood the <em>FIRST</em> Mentoring Guide (http://www.usfirst.org/uploadedFiles/Community/FRC/Team_Resources/Mentoring%20Guide.pdf) and are able and willing to fulfil all the requirements and roles it sets out for mentors</li>
<li>I am able to attend team meetings and trips.</li>
<li>I am willing to submit a Police Criminal Record Background Check, Vulnerable Sector Check and commit to the oath of confidentiality agreement</li>
</ul>
</p>

<p>Note that mentors will be held to substantially higher expectation than the students in terms of behaviour, reliability and ability to fulfil their roles and responsibilities. Failure to live up to the roles and responsibilities of <em>FIRST</em> mentors will result in immediate dismissal from the team.</p>

<p>All mentors are required to participate in ongoing mentor training during regular Mentor Coffee meetings.</p>