<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="description" content="We are FRC Team 5064, a FIRST Robotics Competition team based in Edmonton, Alberta, Canada. Our goal is to actively and continuously strive to improve ourselves and others by practising and promoting the Core Values of FIRST. Read More ..." />
<meta name="keywords" content="FRC,Edmonton,FRC Edmonton,Alberta,Canada,bot,robot,robotics,OpCom,First,5064,FRC 5064,FRC Team 5064,Team 5064,high school" />
<meta name="robots" content="index,follow" />
<meta name="DC.title" content="FRC Team 5064" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap-theme.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/custom.css">

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23019901-1']);
  _gaq.push(['_setDomainName', "bootswatch.com"]);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


