<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
	<div class="container">
	  <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-12">
            
            </div>
          <div class="col-lg-12" style="padding: 0px 25px 15px 25px;">
        </div>
      </div>	
      
	  
	  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Team 5064 handbook
            <p class="lead"><em>The official team handbook of Team 5064</em></p>
          </h1>
        </div>
        <div class="col-md-5">
            <div class="well well-lg"> 
              <div class="row">
                <div class="col-sm-6">
        	      	<img src="//placehold.it/180x100" class="img-responsive">
                </div>
                <div class="col-sm-6">
	              	<strong>Important</strong>
                  	<p>Blah blah blah blah bla!</p>
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div><!-- /cont -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
	<div id="sidebar">
	  <ul class="nav nav-stacked">
	    <li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">ToC <span class="caret"></span></a>
		  <ul class="dropdown-menu" aria-labelledby="themes">
			<li><a tabindex="-1" href="#welcome">Welcome</a></li>
			<li><a tabindex="-1" href="#mission">Mission</a></li>
			<li ><a tabindex="-1" href="#goals">Goals</a></li>
		    <li ><a tabindex="-1" href="#opcom">Opcom</a></li>
		    <li ><a tabindex="-1" href="#teamname">Team name</a></li>
	    	<li ><a tabindex="-1" href="#seasons">Seasons</a></li>
		    <li ><a tabindex="-1" href="#teamroles">Team roles</a></li>
		    <li ><a tabindex="-1" href="#joining">Joining the team</a></li>
		    <li ><a tabindex="-1" href="#memberrules">Member Rules</a></li>
		    <li ><a tabindex="-1" href="#programfee">Program Fee</a></li>
		    <li ><a tabindex="-1" href="#timecommitment">Time Commitment</a></li>
		    <li ><a tabindex="-1" href="#highcchoolcredits">High School Credits</a></li>
		    <li ><a tabindex="-1" href="#safety">Safety</a></li>
		    <li ><a tabindex="-1" href="#travelling">Travelling</a></li>
		    <li ><a tabindex="-1" href="#howparentscanhelp">How parents can help</a></li>
		    <li ><a tabindex="-1" href="#studentcontract">Student Contract</a></li>
		    <li ><a tabindex="-1" href="#mentorcontract">Mentor Contract</a></li>
		    <li ><a tabindex="-1" href="#studentchecklist">Student Check List</a></li>
		  </ul>
		</li> 
      </ul>
	 </div>
	</div> 
	
    <div class="col-md-10">
      {{ content }}
  	</div>
</div>
	  
	  
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
